:root {
  --color-dark: #222831;
  --color-light: #eee;
  --color-accent: #00adb5;
}

header {
  color: var(--color-light);
  background-color: var(--color-dark);
  text-align: center;
}

/*
The github corner element was adapted from <https://github.com/tholman/github-corners>.
MIT License: <https://github.com/tholman/github-corners/blob/master/license.md>
*/

#github-corner > svg {
  fill: #00adb5;
  color: #222831;
  position: absolute;
  top: 0;
  right: 0;
}

h1 {
  margin: 0;
  padding: 0.6em;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  color: var(--color-dark);
  background-color: var(--color-light);
}

#flex1,
#flex2,
#flex4 {
  padding: 1em;
}

#flex2,
#flex4 {
  flex: 2;
}

#flex2:focus {
  outline: none;
}

span.element-input,
span.element-added {
  display: inline-block;
  margin: 0.2em;
  padding: 0.3em 0.5em;
  border: none;
  border-radius: 0.2em;
  color: var(--color-light);
  background: var(--color-dark);
  cursor: pointer;
}

span.element-input > span,
span.element-added > span {
  vertical-align: middle;
}

span.remove-element {
  padding: 0.1em;
  margin: 0 0.2em 0 0.5em;
  color: var(--color-accent);
}

span.draggable-source--is-dragging {
  opacity: 0.4;
}

span.draggable-mirror {
  -webkit-box-shadow: 0 0.5em 0.8em -0.2em rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0.5em 0.8em -0.2em rgba(0, 0, 0, 0.8);
  box-shadow: 0 0.5em 0.8em -0.2em rgba(0, 0, 0, 0.8);
}

#prompt-output {
  display: inline-block;
  padding: 1em;
  color: var(--color-light);
  background-color: var(--color-dark);
  font-family: monospace;
  line-height: 1.5;
}
