:root {
  --color-dark: #222831;
  --color-light: #eee;
  --color-accent: #00adb5;
  --color-button: #628284;
  --color-button-alt: #415658;
}

body {
  color: var(--color-dark);
  background-color: var(--color-light);
  font-family: 'Roboto', 'Noto Sans', sans-serif;
}

header {
  color: var(--color-light);
  background-color: var(--color-dark);
  text-align: center;
}

/*
The github corner element was adapted from <https://github.com/tholman/github-corners>.
MIT License: <https://github.com/tholman/github-corners/blob/master/license.md>
*/

#github-corner > svg {
  fill: var(--color-accent);
  color: var(--color-dark);
  position: absolute;
  top: 0;
  right: 0;
}

h1 {
  margin: 0;
  padding: 0.6em;
}

#underscore {
  color: #4caa25;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  padding: 1em 2em;
}

main > div {
  padding: 1em;
}

h2 {
  margin-bottom: 0;
}

p.hint {
  margin: 0.5em 0 1em;
}

p.hint code {
  padding: 0 0.2em;
  border-radius: 0.2em;
  background-color: #cfd8dc;
}

#flex1,
#flex3 {
  flex: 1;
  min-width: 28em;
}

#flex2,
#flex4 {
  flex: 2;
  min-width: 32em;
}

#flex2:focus {
  outline: none;
}

#flex2 > h2 {
  display: inline-block;
}

#import-prompt-wrapper {
  padding: 0 0 1em;
}

#import-prompt-input {
  max-width: 80%;
  width: 30em;
}

#import-prompt-errors {
  line-height: 2em;
  color: #bf360c;
}

span.element-input,
span.element-added {
  display: inline-flex;
  align-items: center;
  margin: 0.2em;
  padding: 0.3em 0.5em;
  border: none;
  border-radius: 0.2em;
  color: var(--color-light);
  background-color: var(--color-dark);
  cursor: pointer;
  transition: color 0.4s ease, background-color 0.4s ease;
}

span.element-selected {
  color: var(--color-dark);
  background-color: var(--color-accent);
}

svg.remove-element {
  height: 1.2em;
  padding: 0.1em;
  margin: 0 0.1em 0 0.4em;
  color: var(--color-accent);
  transition: color 0.4s ease;
}

span.element-selected > svg.remove-element {
  color: var(--color-light);
}

span.sortable-ghost {
  opacity: 0.4;
}

#properties {
  display: none;
}

#colors input[type='text'] {
  width: 100%;
  max-width: 20em;
  margin: 0 0.2em;
  padding: 0.4em;
  color: var(--color-dark);
}

#colors button {
  min-width: 10em;
  margin: 0 0.2em 0.6em;
  padding: 0.5em;
  color: var(--color-light);
  background-color: var(--color-button);
  border: 0.2em dashed var(--color-light);
  outline: 0.2em solid var(--color-button);
  cursor: pointer;
  transition: background-color 0.2s ease, outline-color 0.2s ease;
}

#colors button:hover,
#colors button:focus {
  background-color: var(--color-button-alt);
  outline-color: var(--color-button-alt);
}

#properties label {
  display: block;
  min-width: 8em;
  margin: 0.4em;
}

#properties input[type='checkbox'] {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.4em;
  color: var(--color-accent);
  vertical-align: middle;
}

#controls button{
  margin: 0.4em 0;
  padding: 0.5em;
  color: var(--color-light);
  background-color: var(--color-button);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, outline-color 0.2s ease;
}

#controls button:hover,
#controls button:focus {
  background-color: var(--color-button-alt);
  outline-color: var(--color-button-alt);
}

#flex4 > p.hint {
  display: inline-block;
}

#clear-prompt {
  vertical-align: bottom;
}

#copy-output {
  vertical-align: top;
}

#clear-prompt,
#copy-output {
  height: 2em;
  margin-left: 0.4em;
  color: var(--color-button);
  cursor: pointer;
  transition: color 0.2s ease;
}

#clear-prompt:hover,
#copy-output:hover {
  color: var(--color-button-alt);
}

#prompt-output,
#prompt-preview {
  display: inline-block;
  margin-bottom: 0.6em;
  padding: 1em;
  color: var(--color-light);
  background-color: var(--color-dark);
  font-family: 'Roboto Mono', 'Noto Sans Mono', monospace;
  line-height: 1.5;
  min-height: 1.5em;
  word-break: break-all;
}

#prompt-preview {
  white-space: pre;
}

@keyframes preview-blink {
  0% { opacity: 1; }
  49% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

#color-picker-wrapper {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow-y: scroll;
}

#color-picker {
  display: inline-block;
  margin: 4em;
  padding: 0 2em 1em;
  background-color: var(--color-light);
  text-align: center;
}

#color-picker-unset {
  margin-bottom: 1em;
  background:
    linear-gradient(
      135deg,
      white,
      white 45%,
      red 45%,
      red 55%,
      white 55%,
      white
    );
  border-color: #bdbdbd;
}

#color-picker-basic,
#color-picker-greyscale,
#color-picker-cubic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}

#color-picker-cubic > div {
  display: inline-grid;
  grid-template: repeat(6, 1fr) / repeat(6, 1fr);
  grid-auto-flow: column;
}

#color-picker-unset,
.color-picker-color {
  box-sizing: border-box;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#color-picker-unset:hover,
.color-picker-color:hover {
  transform: scale(1.4, 1.4);
  -webkit-box-shadow: 0 0 0.5em 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0 0 0.5em 0 rgba(50, 50, 50, 0.75);
  box-shadow: 0 0 0.5em 0 rgba(50, 50, 50, 0.75);
  border: none;
}

@media screen and (max-width: 800px) {
  h1 {
    padding: 0.6em 2.4em;
  }

  main {
    padding: 0 0.8em;
  }

  #flex1,
  #flex2,
  #flex3,
  #flex4 {
    flex: unset;
    min-width: unset;
    width: 100%;
    padding: 0 0 1em;
  }

  #flex1,
  #flex2,
  #flex3 {
    border-bottom: 4px dashed #dbdbdb;
  }
}
