body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  color: #222831;
  background-color: #eeeeee;
  /* force scrollbar to avoid content shifting when color dialog appears */
  min-height: 100.1vh;
}

header, footer {
  position: relative;
  height: 4rem;
  color: #eeeeee;
  background-color: #222831;
}

h1 {
  margin: 0;
  line-height: 2em;
}

#import-container {
  position: absolute;
  top: 50%;
  right: 1rem;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin: 0;
  cursor: default;
}
#import {
  border: 2px solid #00adb5;
  border-radius: 8px;
  padding: 10px 40px;
  background-color: #222831;
  color: #00adb5;
  cursor: pointer;
  transition: all ease 200ms;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
#import:hover {
  border-color: #007c82;
  color: #007c82;
}
#import:active {
  background-color: #007c82;
  color: #222831;
}

#import-field {
  display: none;/*prevent animation on page load, will be added with js*/
  opacity: 0;
  width: 0;
  border: 2px solid #00adb5;
  border-radius: 8px;
  padding: 0;
  background: #222831;
  color: #00adb5;
  animation: disappear linear 200ms;
  cursor: default;
}
#import-field.visible {
  opacity: 1;
  width: 200px;
  padding: 10px;
  animation: appear linear 200ms;
  cursor: text;
}
@keyframes appear {
  0% {
    opacity: 1;
    width: 0;
    padding: 10px;
  }
  100% {
    opacity: 1;
    width: 200px;
    padding: 10px;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
    width: 200px;
    padding: 10px 40px;
  }
  100% {
    opacity: 1;
    width: 0;
    padding: 10px 0;
  }
}

footer {
  position: absolute;
  bottom: -0.1vh;
  width: 100%;
  font-size: 0.8em;
  line-height: 1.4em;
}

footer a {
  color: #00adb5;
}

#github {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  font-size: 3rem;
  color: #00adb5;
  cursor: pointer;
}

#github:hover {
  color: #007c82;
}

small {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 5rem;
  color: #393e46;
}

#container {
  display: grid;
  margin: 2em 3em;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1.4em;
  text-align: left;
}

#elements {
  grid-area: 1 / 1 / 2 / 3;
}

#inputarea {
  grid-area: 1 / 3 / 2 / 6;
}

#properties {
  grid-area: 1 / 6 / 2 / 7;
}

#elements, #inputarea {
  border-right: 4px dashed #dddddd;
}

#output {
  min-height: 1.2em;
  margin: 1em;
  font-family: 'Dejavu Sans Mono', 'Courier New', 'Courier', monospace;
}

#example > p {
  margin: auto;
  width: min-content;
  background-color: rgb(0, 0, 0);
  white-space: nowrap;
  text-align: left;
}

#example > p a {
  font-family: monospace;
}

#elements>span, #inputarea>span {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.6em;
  border-radius: 0.2em;
  color: #eeeeee;
  background-color: #393e46;
  cursor: pointer;
}

#elements>span:hover, #inputarea>span:hover {
  background-color: #222831;
}

#inputarea>span[data-selected=true] {
  color: #393e46;
  background-color: #00adb5;
}

#inputarea>span>i,
#properties>label>a,
#properties>label i {
  margin-left: 0.2em;
  color: #00adb5;
  cursor: pointer;
}

#inputarea>span[data-selected=true]>i {
  color: #eeeeee;
}

#inputarea>span>i:hover,
#properties>label>a:hover,
#properties>label i:hover {
  color: #007c82;
}

#properties>h3 {
  color: #00adb5;
}

#properties>label {
  margin-top: 0.8em;
  font-size: 0.9em;
  width: 40%;
}

#properties>input {
  height: 2em;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  padding: 0 0.6em;
  border: none;
  border-left: 16px solid rgba(0, 0, 0, 0);
  border-right: 16px solid rgba(0, 0, 0, 0);
  background-color: #d5d5d5;
  font-family: 'Dejavu Sans Mono', 'Courier New', 'Courier', monospace;
}

#properties>input[type=checkbox] {
  width: 1.5em;
  margin: 0;
  vertical-align: middle;
}

#properties>input[type=checkbox]+label {
  margin-left: 0.4em;
  vertical-align: middle;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog {
  opacity: 0.6;
  border-radius: 0.2em;
  background-color: #ebebeb;
  -webkit-box-shadow: 0 8px 16px 0 #a3a3a3;
  -moz-box-shadow: 0 8px 16px 0 #a3a3a3;
  box-shadow: 0 8px 16px 0 #a3a3a3;
}

.ui-dialog:focus, .ui-dialog:hover {
  opacity: 0.9;
  outline: none;
}

.ui-dialog-titlebar {
  padding: 0.4em;
  color: #eeeeee;
  background-color: #393e46;
}

#dialog-color-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 70%;
  height: 70%;
  padding: 15%;
}

#dialog-color-container>span {
  cursor: pointer;
}

#dialog-color-container>span:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.style-bold {
  font-weight: bold;
}

.style-dim {
  /*@TODO: this modifies background color either!*/
  opacity: 50%;
}

.style-italic {
  font-style: italic;
}

.style-underline {
  text-decoration: underline;
}

.style-blink {
  animation: blink 1s infinite;
  opacity: 1;
}
@keyframes blink {
  0%   { color: rgba(0, 0, 0, 0); }
  47%  { color: rgba(0, 0, 0, 0); }
  50%  { color: inherit }
  97%  { color: inherit }
  100% { color: rgba(0, 0, 0, 0); }
}

/*@TODO: what should this do?
.style-reverse {

}
*/

.color-fg-black {
  color: rgb(0, 0, 0);
}

.color-fg-red {
  color: rgb(255, 0, 0);
}

.color-fg-green {
  color: rgb(0, 255, 0);
}

.color-fg-yellow {
  color: rgb(255, 255, 0);
}

.color-fg-blue {
  color: rgb(0, 0, 255);
}

.color-fg-magenta {
  color: rgb(255, 0, 255);
}

.color-fg-cyan {
  color: rgb(0, 255, 255);
}

.color-fg-light-gray {
  color: rgb(192, 192, 192);
}

.color-fg-dark-gray {
  color: rgb(128, 128, 128);
}

.color-fg-light-red {
  color: rgb(255, 128, 128);
}

.color-fg-light-green {
  color: rgb(128, 255, 128);
}

.color-fg-light-yellow {
  color: rgb(255, 255, 128);
}

.color-fg-light-blue {
  color: rgb(128, 128, 255);
}

.color-fg-light-magenta {
  color: rgb(255, 128, 255);
}

.color-fg-light-cyan {
  color: rgb(128, 255, 255);
}

.color-fg-white {
  color: rgb(255, 255, 255);
}

.color-bg-black {
  background-color: rgb(0, 0, 0);
}

.color-bg-red {
  background-color: rgb(255, 0, 0);
}

.color-bg-green {
  background-color: rgb(0, 255, 0);
}

.color-bg-yellow {
  background-color: rgb(255, 255, 0);
}

.color-bg-blue {
  background-color: rgb(0, 0, 255);
}

.color-bg-magenta {
  background-color: rgb(255, 0, 255);
}

.color-bg-cyan {
  background-color: rgb(0, 255, 255);
}

.color-bg-light-gray {
  background-color: rgb(192, 192, 192);
}

.color-bg-dark-gray {
  background-color: rgb(128, 128, 128);
}

.color-bg-light-red {
  background-color: rgb(255, 128, 128);
}

.color-bg-light-green {
  background-color: rgb(128, 255, 128);
}

.color-bg-light-yellow {
  background-color: rgb(255, 255, 128);
}

.color-bg-light-blue {
  background-color: rgb(128, 128, 255);
}

.color-bg-light-magenta {
  background-color: rgb(255, 128, 255);
}

.color-bg-light-cyan {
  background-color: rgb(128, 255, 255);
}

.color-bg-white {
  background-color: rgb(255, 255, 255);
}